[*.cs]

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = none

# CA1000: Do not declare static members on generic types
dotnet_diagnostic.CA1000.severity = none

# CA1065: Do not raise exceptions in unexpected locations
dotnet_diagnostic.CA1065.severity = none
